/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: rgb(220, 225, 255); }

.div-mat-divider {
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}

.div-table-lines {
    text-align: center;
    padding: 10px 0;
}

.div-table-zebra {
    background-color: rgba(255, 187, 77, 0.4);
}

mat-card {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.mat-cards-distance {
    margin-bottom: 50px;
}